<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="../assets/images/inside.png" class="img-fluid w-100" alt="Main Image">
      <a><span>Welcome to our Store!</span></a>
      <b><span>Here at the Ice Cream Shop we practice to deliver our best customer service along with the best tasting ice cream in Town!
        Our website is still pretty new right now so let us know if you catch any bugs in the shop ;)
      </span></b>
    </div>
  </div>
  <div class="col-md-12">
    <div class="flavors-box">
      <p class="text-center">New Flavors of the Week</p>
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="col-md-12">
        <p class="text-center">NebulaBerry</p>
      </div>
      <img src="../assets/images/NebulaBerry.png" alt="Image 1" class="img-fluid w-100">
    </div>
    <div class="col-md-6">
      <div class="col-md-12">
        <p class="text-center">Supermoon</p>
      </div>
      <img src="../assets/images/Supermoon.png" alt="Image 2" class="img-fluid w-100">
    </div>
  </div>
  <div class="row mt-3"></div>
  </div>
</div>
</div>
