<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" routerLink="/" style="font-size: 24px; font-weight: bold; padding-left: 10px">Ice Cream Shop</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
      <a class="nav-link" routerLink="/" style="font-size: 18px; font-weight: bold;">Home</a>
      <a class="nav-link" routerLink="/order" style="font-size: 18px; font-weight: bold;">Order</a>
      <a class="nav-link" routerLink="/checkout" style="font-size: 18px; font-weight: bold;">Checkout</a>
    </div>
    <div class="navbar-nav ml-auto">
      <a class="nav-link" (click)="toggleView('login')" href="#" style="font-size: 18px; font-weight: bold;">Login / Sign In</a>
    </div>
  </div>
</nav>
