<footer class="text-center text-lg-start" style="background-color: rgb(161, 131, 91)">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact us</h5>

        <p>
          123 Elm St N, Fargo, ND
        </p>
        <p>
          (701)-123-4567
        </p>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Store Hours</h5>

        <p>
          Monday - Friday:    11:00 AM to 9:00 PM
        </p>
        <p>
          Saturday - Sunday:    10:00 AM to 10:00 PM
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3 text-light" style=" background-color: rgb(0, 0, 0);">
    © 2024 Copyright:
    <a class="text-light" href="https://icecream.com/ ">IceCream.com</a>
  </div>
  <!-- Copyright -->
</footer>
