.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.image-container {
  width: 150px;
  height: 150px;
  border: 2px solid #ccc;
  cursor: pointer;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.selected {
  border: 20px solid #007bff; /* Blue border color */
  /* Or use box shadow */
  box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
}
